body{background-image: url("https://i.postimg.cc/52qmMGWm/Memphis.png");background-color:#8400ff}
h1{border-bottom:1px solid #000000;margin:0;color: #000000;font-weight:700;}
body{font-family: 'Quicksand', sans-serif;padding: 30px;}

.scrollImage{display:flex;flex-wrap:wrap;align-items:flex-start;justify-content:center; margin:2em 0; position:relative;left:-7.5px;width:calc(100% + 15px)}
.scrollImage > *{border-radius:10px;width:calc(33.333% - 15px); margin:0 7.5px 15px}
.scrollImage p{height:30vh;background:#ffffff;font-size:4vw;font-weight:700;display:flex;flex-wrap:nowrap;text-align:center;align-items:center;justify-content:center;}
.scrollImage p:nth-child(odd){color:#0B1600;}.scrollImage p:nth-child(even){color:#030090;}
.scrollImage{flex-wrap:nowrap;justify-content:flex-start;position:relative;width:calc(100% + 0px);left:-20px;padding:0 20px; overflow-y:hidden;overflow-x:scroll;scroll-behavior:smooth;scroll-snap-type:x mandatory; -ms-overflow-style:none;-webkit-overflow-scrolling:touch} 
.scrollImage > *{display:block;flex-shrink:0; width:90%; margin:0 15px 0 0; scroll-snap-align:center} .scrollImage > *:last-child{margin-right:0} .scrollImage:after{content:'';display:block;flex-shrink:0; align-self:stretch;padding-left:20px}
#wrnRed{color:red} #wrnGreen{color:green}

.lovein{width:48px;height:48px;display:flex;align-items:center;justify-content:center;transition:all .1s ease;}
.lovein:hover, .scrollImage p img:hover{transition:all .1s ease;transform: scale(1.2);}
